pipeline/PL_Ingest_PolicyData.json
{
	"name": "PL_Ingest_PolicyData",
	"properties": {
		"activities": [
			{
				"name": "ACT_Lookup_GetAllTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_NAME \nFROM INFORMATION_SCHEMA.TABLES \nWHERE TABLE_SCHEMA = 'dbo' \nAND TABLE_TYPE = 'BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_SourceTable",
						"type": "DatasetReference",
						"parameters": {
							"Tablename": "INFORMATION_SCHEMA.TABLES"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_Lookup_GetAllTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_Lookup_GetAllTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ACT_Lookup_ValidateCount",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT COUNT(*) AS RecordCount FROM @{item().TABLE_NAME}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQL_SourceTable",
									"type": "DatasetReference",
									"parameters": {
										"Tablename": {
											"value": "@{item().TABLE_NAME}",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "ACT_IfCondition_HasRecords",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "ACT_Lookup_ValidateCount",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('ACT_Lookup_ValidateCount').output.firstRow.RecordCount, 0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "ACT_Copy_TableToParquet",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT * FROM @{item().TABLE_NAME}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_SourceTable",
												"type": "DatasetReference",
												"parameters": {
													"Tablename": "@{item().TABLE_NAME}"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ADLS_Parquet_Sink",
												"type": "DatasetReference",
												"parameters": {
													"Tablename": "@{item().TABLE_NAME}"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Policyholder_Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/soundharjayan@workforlife8891gmail.onmicrosoft.com/databricks-code-repo/Databricks_workout_2025/6_Insurance_Project/1.Policyholder_Batch_Ingestion_to_bronze_table",
					"baseParameters": {
						"file_name": {
							"value": "@activity('ACT_Copy_TableToParquet').output.fileName",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1Insurance",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-06-06T13:13:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}